[Unit]
Description=Rannasta Suomeen Frontend Service
After=docker.service
Requires=docker.service
After=docker.rs-frontend.service
Requires=docker.rs-frontend.service
 
[Service]
User={{ user }}
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker stop rs-frontend
ExecStartPre=/usr/bin/docker rm rs-frontend
ExecStartPre=/usr/bin/docker pull {{ image }}
ExecStart=/usr/bin/docker run -p {{ port }}:3030 \
    --name rs-frontend \
    --mount type=bind,source=/home/{{user}}/rannasta-suomeen/frontend/.env,target=/.env \
    --network="host" \
{{ image }}

[Install]
WantedBy=multi-user.target